<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.kukv.order_api.infrastructure.datasource.OrderRegisterDummyMapper">

    <insert id="register">
        insert into orders.order_id (id, user_id)
        values (#{id.value}, #{userId.value})
    </insert>
</mapper>
